<div class="fourquare-search" ng-init="foursquareWidget_open=true;" ng-class="{open: foursquareWidget_open}">

  <button class="leaf btn btn-primary btn-sm"><i class="fa fa-foursquare" style="font-size:2em;" ng-click="foursquareWidget_open = !foursquareWidget_open"></i> </button>
  <div class="background"></div>
  <div class="body">

    <div class="title">
      Search places
    </div>
    <form name="filterForm">
      <div class="form-group">
        <label>Search for </label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-disabled="filterForm.$invalid" ng-click="doSearch(filter.category);foursquareWidget_open = false;"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>in category </label>
        <select class="form-control" ng-model="filter.category" required placeholder="Select a category">
          <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
        </select>
      </div>
    </form>
  </div>
</div>